@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.content {
  align-items: center;
  background-color: #e5eff5;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-width: 1440px;
  width: 100vw;
}
.content .cards {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(152, 167, 189, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "cards-text cards-text" "card-1 card-2";
  height: 475px;
  width: 635px;
  overflow: hidden;
}
.content .cards .cards-text {
  padding: 30px;
  grid-area: cards-text;
  overflow: hidden;
}
.content .cards .cards-text .title {
  font-size: 23px;
  color: #2ab2af;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.content .cards .cards-text .text {
  color: #c0df34;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.content .cards .cards-text .text-2 {
  color: #98a6bd;
}
.content .cards .card-1 {
  background-color: #2ab2af;
  grid-area: card-1;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.content .cards .card-1 .card-1-title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.content .cards .card-1 .card-1-text {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.content .cards .card-1 .card-1-text span {
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}
.content .cards .card-1 .card-1-text-2 {
  color: #ffffff;
  font-weight: 700;
}
.content .cards .card-1 .button {
  color: #e5eff5;
  font-weight: 700;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background-color: #c0df34;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  align-self: center;
  height: 48px;
  width: 237px;
  cursor: pointer;
  outline: none;
}
.content .cards .card-1 .button:active {
  transform: scale(1.1);
}
.content .cards .card-2 {
  background-color: #4bbebc;
  grid-area: card-2;
  padding: 30px;
}
.content .cards .card-2 .card-2-title {
  font-size: 18px;
  font-weight: 700;
  color: #e5eff5;
  margin-bottom: 20px;
}
.content .cards .card-2 .card-2-text {
  color: #e5eff5;
}
