@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// Primary
$cyan: hsl(179, 62%, 43%, 100%);
$lightCyan: hsl(179, 47%, 52%, 100%);
$BrightYellow: hsl(71, 73%, 54%, 100%);

// Neutral
$lightGray: hsl(204, 43%, 93%, 100%);
$grayishBlue: hsl(218, 22%, 67%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: {
    family: "Karla", sans-serif;
    size: 16px;
  }
}

.content {
  align-items: center;
  background-color: $lightGray;
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 1440px;
  padding: 50px 0;
  width: 100vw;

  .cards {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(217, 22, 67, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "cards-text cards-text"
      "card-1 card-2";
    height: 475px;
    width: 635px;
    min-width: 375px;
    overflow: hidden;

    .cards-text {
      padding: 30px;
      grid-area: cards-text;
      overflow: hidden;

      .title {
        font-size: 23px;
        color: $cyan;
        letter-spacing: 1px;
        margin-bottom: 30px;
      }

      .text {
        color: $BrightYellow;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }

      .text-2 {
        color: $grayishBlue;
      }
    }

    .card-1 {
      background-color: $cyan;
      grid-area: card-1;
      padding: 30px;
      display: flex;
      flex-direction: column;

      .card-1-title {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 20px;
      }

      .card-1-text {
        color: #ffffff;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        span {
          font-size: 30px;
          font-weight: 700;
          margin-right: 10px;
        }
      }

      .card-1-text-2 {
        color: #ffffff;
        font-weight: 700;
      }

      .button {
        color: #e5eff5;
        font-weight: 700;
        font-size: 16px;
        font-family: "Karla", sans-serif;
        background-color: $BrightYellow;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        margin-top: 30px;
        align-self: center;
        height: 48px;
        width: 237px;
        cursor: pointer;
        outline: none;
        transition: transform 0.2s ease;

        &:active {
          transform: scale(1.1);
        }
      }
    }

    .card-2 {
      background-color: $lightCyan;
      grid-area: card-2;
      padding: 30px;

      .card-2-title {
        font-size: 18px;
        font-weight: 700;
        color: #e5eff5;
        margin-bottom: 20px;
      }

      .card-2-text {
        color: #e5eff5;
      }
    }
  }
}

@media (max-width: 650px) {
  .content {
    padding: 50px 0px;
    height: 100%;
    .cards {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "cards-text"
        "card-1"
        "card-2";
      height: 100%;
      width: 80%;
      max-width: 375px;
      overflow: hidden;
    }
  }
}
